# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# C extensions
*.so
*.o

# Distribution / packaging
.Python
build/


weights
pretrained

*.pth

# Temporary files
runs
eval
*.out

# Experimental codes
models/SSD_lite_mobilenets.py
trashbins

# Demo files
demofiles
results
*.jpg
*.mp4