# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# C extensions
*.so
*.o

# Distribution / packaging
.Python
build/


weights
eval
pretrained

*.pth

# Experimental codes
models/RFB_Net_mobile_custom_vggsize.py
modi_train_RFB.py
*.out
*.jpg
*.mp4