# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# C extensions
*.so
*.o

# Distribution / packaging
.Python
build/


weights
pretrained

*.pth

# Temporary files
runs
eval
*.out

# Experimental codes
demo_div2_RFB.py
demo_center_RFB.py
models/SSD_lite_mobilenets.py

# Demo files
demofiles
results
*.jpg
*.mp4